
PORT = 5000
DATABASE_CLOUD = "mongodb://localhost:27017"

NODE_ENV = development
JWT_SECRET = GORKCODER797


CLOUDINARY_URL =


SMPT_HOST = smtp.mailtrap.io
SMPT_PORT = 2525
SMPT_EMAIL = YourEmail
SMPT_PASS = Your Password
SMPT_FROM_EMAIL = non_reply@gmail.com
SMPT_FROM_NAME = Bidding